.about__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    align-items: center;
}

.about__section img {
    border-radius: 50%;
    transition: var(--transition);
    border: solid 2px transparent;
}


.about__section img:hover {
    border: solid 2px var(--color-gray-400);
    transform: skew(-15deg);
}

.about__section.right-to-left img:hover {
    border: solid 2px var(--color-gray-400);
    transform: skew(15deg);
}

.about__section p {
    margin: 1rem;
}

.about__section h1 {
    text-align: center;
    margin-bottom: 2rem;
}


@media screen and (max-width:1024px) {
    .about__section {
        grid-template-columns: 1fr;
    }

    .about__section img {
        width: 60%;
        margin-inline: auto;
    }

    .right-to-left div {
        grid-row: 1;
    }


}


@media screen and (max-width:600px) {
    .about__section img {
        width: 100%;
    }
}