.faq {
    background-color: var(--color-gray-500);
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;
    position: relative;
}

.faq__icon{
    color: white;
    background: transparent;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.faq p{
    margin-top: 1.5rem;
}
